.banner-image {
  width: 100px; // Đặt chiều rộng của hình ảnh
  height: 100px; // Đặt chiều cao tự động để duy trì tỷ lệ khung hình
  border-radius: 8px; // Bo tròn các góc của hình ảnh
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Thêm bóng đổ cho hình ảnh
  
}
.banner-image-column {
  width: 100px;
}
.table{
    margin-top: 10px;
}