.navbar {
  background-color: #000;
  color: #fff;
  display: flex;
 flex-wrap: wrap;
  padding: 10px 20px;
  justify-content: space-around !important;
  // .ant-layout-header  {
  //   border-bottom:100px solid #000;
  // }


  &__announcement {
    font-size: 14px;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  &__language {
    select {
      background-color: transparent;
      color: #fff;
      border: none;
    }
  }
}

