.contact-page {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #f7f7f7;
  padding-bottom: 150px;
  padding-top: 100px; 
  
  .container {
    display: flex;
    gap: 20px;
    max-width: 1391px;
    width: 100%;
  }
}